@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
  :root {
    --gradient-start: #8b5cf6;
    --gradient-end: #d8b4fe;
  }
  
  body {
    background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background-size: 200% 200%;
    animation: gradientMove 15s ease infinite;
  }
}

