@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


@layer base {
  :root {
    /*
   --gradient-start: #1b1c22;
    --gradient-end: #1d335a;
    */
    --gradient-end: #1b1c22;
    --gradient-start: #1a2f53;

  }
  
  body {
    background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background-size: 200% 200%;
    animation: gradientMove 15s ease infinite;

    
  }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  


  .gradient-outline {
    font-size: 3rem;
    font-weight: bold;

    background: linear-gradient(90deg, #ff6200, #ffcc00, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px transparent;
    position: relative;
  }
  
  @keyframes bounceHigher {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-60px); 
    }
  }
  
  .bounce-higher {
    animation: bounceHigher 4s infinite;
  }
  
  @keyframes bounceNormal {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px); 
    }
  }
  
  .bounce-normal {
    animation: bounceHigher 5s infinite;
  }
  
  @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(+30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-title {
    animation: fadeSlideIn 2.5s ease-out;
  }
  